@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-900;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-slate-300;
  }
  
  .glass-card {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
  }
}

input:focus {
  outline: none;
}